.absent__content--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: -2px;
}

.absent--header__title {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text);
}

.absent--header__title span {
    margin-left: 12px;
    margin-right: 5px;
    position: relative;
}

.absent--header__title span:after {
    content: "";
    background-color: black;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    left: -7px;
    top: 11px;
}

.good--img__absent::after {
    content: "";
    position: absolute;
    width: 100%;
    border-radius: 8px;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.05);
    height: 100%;
}

.good__title--absent,
.good-properties--absent {
    color: rgba(151, 151, 175, 1);
}

.counter--img-absent {
    margin-right: 123px;
}